<nav class="block w-full max-w-screen-lg px-4 py-2 mx-auto bg-gray-200 shadow-md rounded-md lg:px-8 lg:py-3 mt-10">
  <div class="container flex flex-wrap items-center justify-between mx-auto text-slate-800">

    <!-- Brand -->
    <a [routerLink]="'/'" routerLinkActive="text-blue-500"
       class="mr-4 block cursor-pointer py-1.5 text-base text-slate-800 font-semibold">
      AchievAI
    </a>

    <!-- Menu Items -->
    <div class="lg:block">
      <ul class="flex flex-col cursor-pointer gap-2 mt-2 mb-4 lg:mb-0 lg:mt-0 lg:flex-row lg:items-center lg:gap-6">

        <!-- Goals -->
        <li class="flex items-center p-1 text-sm gap-x-2 text-slate-600" routerLinkActive="text-slate-900">
          <a [routerLink]="'/goal-list'" class="flex items-center">Goal</a>
        </li>

        <!-- Blocks -->
        <li class="flex items-center cursor-pointer p-1 text-sm gap-x-2 text-slate-600" routerLinkActive="text-slate-900">
          <a [routerLink]="'/learn-lang'" class="flex items-center">AI Lang</a>
        </li>

        <!-- Account -->
        <li class="flex items-center cursor-pointer p-1 text-sm gap-x-2 text-slate-600" routerLinkActive="text-slate-900">
          <a [routerLink]="'/login'" class="flex items-center">Account</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
